# An Intro to Python

The cell below is a line of python code. To run it, select the cell (it will turn blue). Then, either press the triangle or press shift + enter on your keyboard.

In [1]:
print("Hello World")

Hello World

##### Note
print() is a function used to display its input. We will talk more about functions in a later section

## Python Basics and Data Types

### Common Python Data Types

Python provides several built-in data types for storing and working with data. Below are some of the most commonly used ones.

**`int` (Integer)**  
Represents whole numbers without any decimal component. Integers can be positive, negative, or zero and are commonly used for counting or indexing.

**`float` (Floating-Point Number)**  
Represents numbers that contain a decimal point. Floats are typically used for measurements, rates, or values that require fractional precision.

**`string` (`str`)**  
Represents text data. Strings are sequences of characters and are enclosed in quotation marks. They are commonly used for names, labels, and descriptive text.

**`list`**  
An ordered collection of items. Lists can contain elements of different data types and can be modified after creation. They are often used to store sequences of related values.

**`set`**  
An unordered collection of unique items. Sets automatically remove duplicate values and are useful when uniqueness matters or when performing mathematical set operations.

**`dict` (Dictionary)**  
A collection of keyâ€“value pairs. Dictionaries are used to store data in a structured way, allowing values to be accessed using meaningful keys rather than numeric positions.

### Integers, Floats, and Strings

In [2]:
# The # symbol denotes a comment. These do not affect the code and are useful for explaining the code

# A single = defines a variable
# The following defines 3 ints

a = 10
b = 3
c = a * b
print(a,b,c)

10 3 30

In [3]:
# Defining the same variable a second time will overwrite it's original value
b = 3.14
print(a,b,c)

10 3.14 30

##### Note
Notice that `c` did not change its value.  
When we set `c = a * b` in the cell above, Python assigns `c` the product of the **current** values of `a` and `b` at that moment. After this assignment, `c` does **not** automatically update if `a` or `b` change. The value of `c` will only change if it is explicitly reassigned.

In [4]:
# Use type() to see the type of a variable
print(a,type(a))
print(b,type(b))

10 <class 'int'>
3.14 <class 'float'>

In [5]:
# Use "" or '' to define a string
message = "Hello"
greeting = 'Welcome!'

In [6]:
# You can add strings together
print(message + ' and ' + greeting)

# You can even multiply a string by an integer
print(message*10)

Hello and Welcome!
HelloHelloHelloHelloHelloHelloHelloHelloHelloHello

### Lists

In [7]:
# A list is denoted by []
# Each item is separated by ,
# The items don't need to be the same type
cool_list = [15, "Hello", ["A list in a list?", "Cool"], b, "Word", 124.34]
cool_list

[15, 'Hello', ['A list in a list?', 'Cool'], 3.14, 'Word', 124.34]

##### Note
In the previous cell, I just put cool_list and it showed up below the cell.<br>Putting a variable or a function with an output as the last line of a cell will output it's value.

In [8]:
# Get a value from a list by using [] around the index
cool_list[1]

'Hello'

##### Note
Notice how it returned the second value.<br> In Python, indices start at 0. So if you want the first value of `cool_list`, do `cool_list[0]`

In [9]:
# Find a value in a list
cool_list.index('Hello')

1

In [10]:
# If the value is not there, it will cause an error
cool_list.index('Something that isnt there')

ValueError: 'Something that isnt there' is not in list

In [11]:
# Take a slice of a list by using [start index : end index]
# The slice will include the start index but exclude the end index

# If left blank, the start value will default to 0
# If left blank, the end value will default to the length of the list
simple_list = [0,1,2,3,4,5,6,7]
print('[1:3]')
print(simple_list[1:3])
print()
print('[4:]')
print(simple_list[4:])

[1:3]
[1, 2]

[4:]
[4, 5, 6, 7]

In [12]:
# Take a slice of a list by using [start index : end index : step]
# The default value of step is 1
simple_list[::2]

[0, 2, 4, 6]

In [13]:
# If step is negative, it will count backwards
simple_list[6:0:-2]

[6, 4, 2]

In [14]:
# When step is negative, the default values of the start and end indices are swapped to include the full list
# This means [::-1] will print the list in reverse
print(simple_list[::-1])

[7, 6, 5, 4, 3, 2, 1, 0]

In [18]:
# The list slicing described above can be done on strings as well
print("A very strange string:")
print("bAk yspeqcorqents zmzemsjssadgbe")
print()

print("Looking at every other letter:")
print("bAk yspeqcorqents zmzemsjssadgbef!g"[1::2])
print()

print('stressed backwards:')
print("stressed"[::-1])

A very strange string:
bAk yspeqcorqents zmzemsjssadgbe

Looking at every other letter:
A secret message!

stressed backwards:
desserts

### Sets
A set is like a list with the following differences
<br> - The order does not matter
<br> - Each value in a set is unique

In [19]:
{1,2,3,5,3,2,12,23,3,2,1,1,2,3,2}

{1, 2, 3, 5, 12, 23}

In [ ]:
# You can make a set from a list